<div class="panel panel-body">

    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-default" ng-class="{'active': vm.listActive }"
                ng-click="vm.listActive=!vm.listActive">List {{vm.section}}s
        </button>
        <button type="button" class="btn btn-default" ng-class="{'active': !vm.listActive }"
                ng-click="vm.listActive=!vm.listActive">Add {{vm.section}}
        </button>
    </div>

    <br/>
    <br/>

    <div ng-switch="vm.listActive">
        <div ng-switch-when="true" class="well">
            <!-- List -->

        </div>
        <div ng-switch-when="false" class="well">
            <!-- Add -->

        </div>
    </div>

</div>
