<form action="" ng-submit="vm.sendAddForm($event, vma.room, vma.addRoomFormCb)"><!--  class="form-horizontal" -->

        <!-- Description -->
        <div class="form-group">
            <label for="description" class="control-label">Description</label>

            <div class="">
                <input type="text" class="form-control" ng-model="vma.room.description" id="description"
                       placeholder="Description">
            </div>
        </div>

        <!-- Who -->
        <div class="form-group">
            <label for="who" class="control-label">Who</label>

            <div class="">
                <!--<select name="who" id="who" ng-model="vma.room.who"-->
                    <!--ng-options="user._id as user.email for user in vma.users">-->
                    <!--<option value="">User</option>-->
                <!--</select>-->
                <input type="text" id="who" ng-model="vma.room.who.email" disabled="disabled"/>
            </div>
        </div>

        <!-- When(date, start time, end time) -->
        <div class="form-group">
            <label for="when" class="control-label">When(date, start time, end time)</label>

            <div class="">
                <input type="date" class="form-control" ng-model="vma.room.whenDate" id="when"
                       placeholder="When(day)"><br/>
                <input type="time" class="form-control" ng-model="vma.room.whenStartTime" id="when2"
                       placeholder="When(starting time)"><br/>
                <input type="time" class="form-control" ng-model="vma.room.whenEndTime" id="when3"
                       placeholder="When(ending time)">
            </div>
        </div>

        <!-- Where -->
        <div class="form-group">
            <label for="where" class="control-label">Where</label>

            <div class="">
                <select name="where" id="where" ng-model="vma.room.where"
                        ng-options="room._id as room.name for room in vma.rooms">
                    <option value="">Room</option>
                </select>
            </div>
        </div>

        <!-- Allowed to edit -->
        <div class="form-group">
            <label for="allowed" class="control-label">Allowed to edit</label>

            <div class="">
                <select name="allowed" id="allowed" ng-model="vma.room.editors" multiple
                        ng-options="user._id as user.email for user in vma.users">
                    <option value="">Users</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="">
                <button type="submit" class="btn btn-default">Submit</button>
                <button type="reset" class="btn btn-warning">Reset</button>
            </div>
        </div>

</form>

