/* Dropdown menu */

.dropdown-big .dropdown-menu {
    -moz-min-width: 250px;
    -ms-min-width: 250px;
    -o-min-width: 250px;
    -webkit-min-width: 250px;
    min-width: 250px;
    padding: 8px 10px;
    background: #fff;
}

.dropdown-big .dropdown-menu p {
    margin: 1px 0;
    padding: 1px 0;
    font-size: 12px;
    line-height: 18px;
}

.dropdown-big .dropdown-menu a {
    font-size: 13px;
    line-height: 23px;
    background: transparent;
    padding: 0;
    color: #444 !important;
    display: inline;
}

.dropdown-big .dropdown-menu a:hover {
    color: #777 !important;
    background: transparent !important;
}

.dropdown-big .dropdown-menu .drop-foot {
    text-align: center;
}

.dropdown-big .dropdown-menu .drop-foot a {
    font-size: 12px !important;
}

.dropdown-big .dropdown-menu hr {
    padding: 0;
    margin: 8px 0;
    border-top: 0 solid #aaa;
    border-bottom: 1px solid #eee;
}

.dropdown-big .dropdown-menu h5 {
    color: #666 !important;
    line-height: 18px;
    font-weight: bold;
    font-size: 13px;
}

.dropdown-menu {
    background: #fff;
    -ms-border-radius: 0;
    border-radius: 0;
    border: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.dropdown-menu li {
    color: #777;
    font-size: 13px;
    line-height: 18px;
}

.dropdown-menu li > a {
    color: #555;
    line-height: 23px !important;
}

.dropdown-menu li > a:hover {
    background: #f9f9f9 !important;
    filter: none;
    color: #888;
}

.dropdown-menu a:hover, .dropdown-menu a:focus {
    filter: none !important;
    background: #fff !important;
}

.dropdown-menu::after, .dropdown-menu::before {
    border: none !important;
}
