/* Users starts */

.user h6 {
    line-height: 17px !important;
}

.user {
    font-size: 12px !important;
    line-height: 20px !important;
}

.user img {
    max-width: 70px;
    margin-top: 10px;
    cursor: pointer;
}

.user .user-pic {
    float: left;
    width: 80px;
}

.user .user-details {
    margin-left: 85px;
}

.user .btn {
    font-size: 11px !important;
}

/* Users ends */
