/* Form */

form {
    margin: 10px;
}

form input, form button, form textarea, form select {
    font-size: 13px !important;
}

form label {
    font-size: 13px;
    line-height: 13px;
}

.form-inline button {
    margin-left: 15px;
}

.form-horizontal .control-label {
    width: 90px;
}

.form-horizontal .controls {
    margin-left: 110px;
}

.form-horizontal .controls:first-child {
    *padding-left: 100px;
}

.form-horizontal .form-actions {
    padding-left: 110px;
}

.form-actions {
    padding: 5px 20px 5px;
    background: transparent;
    border-top: 0;
}
