<form action="#" ng-submit="vm.sendEditForm($event, vme.user, vme.editUserFormCb)"><!--  class="form-horizontal" -->

    <!-- Name -->
    <div class="form-group">
        <label for="name" class="control-label">Name</label>

        <div class="">
            <input type="text" class="form-control" ng-model="vme.user.name" id="name"
                   placeholder="Name">
        </div>
    </div>

    <!-- Location -->
    <div class="form-group">
        <label for="location" class="control-label">Location</label>

        <div class="">
            <input type="text" class="form-control" ng-model="vme.user.location" id="location"
                   placeholder="Location">
        </div>
    </div>

    <!-- Size -->
    <div class="form-group">
        <label for="size" class="control-label">Size</label>

        <div class="">
            <input type="number" min="0" class="form-control" ng-model="vme.user.size" id="size"
                   placeholder="Size">
        </div>
    </div>

    <!-- Has conference equipment -->
    <div class="checkbox">
        <label for="confEquipment">
            <input type="checkbox" ng-model="vme.user.hasConferenceEquipment" id="confEquipment">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Has Conference Equipment
        </label>
    </div>

    <!-- Has video projector -->
    <div class="checkbox">
        <label for="videoProjector">
            <input type="checkbox" ng-model="vme.user.hasVideoProjector" id="videoProjector">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Has Video Projector
        </label>
    </div>

    <!--&lt;!&ndash; Description &ndash;&gt;-->
    <!--<div class="form-group">-->
        <!--<label for="description" class="control-label">Description</label>-->

        <!--<div class="">-->
            <!--<input type="text" class="form-control" ng-model="vme.user.description" id="description"-->
                   <!--placeholder="Description">-->
        <!--</div>-->
    <!--</div>-->

    <!--&lt;!&ndash; Who &ndash;&gt;-->
    <!--<div class="form-group">-->
        <!--<label for="who" class="control-label">Who</label>-->

        <!--<div class="">-->
            <!--<select name="who" id="who" ng-model="vme.user.who"-->
                    <!--ng-options="user._id as user.email for user in vme.users">-->
                <!--<option value="">User</option>-->
            <!--</select>-->
        <!--</div>-->
    <!--</div>-->

    <!--&lt;!&ndash; When(date, start time, end time) &ndash;&gt;-->
    <!--<div class="form-group">-->
        <!--<label for="when" class="control-label">When(date, start time, end time)</label>-->

        <!--<div class="">-->
            <!--<input type="date" class="form-control" ng-model="vme.user.whenDate" id="when"-->
                   <!--placeholder="When(day)"><br/>-->
            <!--<input type="time" class="form-control" ng-model="vme.user.whenStartTime" id="when2"-->
                   <!--placeholder="When(starting time)"><br/>-->
            <!--<input type="time" class="form-control" ng-model="vme.user.whenEndTime" id="when3"-->
                   <!--placeholder="When(ending time)">-->
        <!--</div>-->
    <!--</div>-->

    <!--&lt;!&ndash; Where &ndash;&gt;-->
    <!--<div class="form-group">-->
        <!--<label for="where" class="control-label">Where</label>-->

        <!--<div class="">-->
            <!--<select name="where" id="where" ng-model="vme.user.where"-->
                    <!--ng-options="user._id as user.name for user in vme.users">-->
                <!--<option value="">User</option>-->
            <!--</select>-->
        <!--</div>-->
    <!--</div>-->

    <!--&lt;!&ndash; Allowed to edit &ndash;&gt;-->
    <!--<div class="form-group">-->
        <!--<label for="allowed" class="control-label">Allowed to edit</label>-->

        <!--<div class="">-->
            <!--<select name="allowed" id="allowed" ng-model="vme.user.editors" multiple-->
                    <!--ng-options="user._id as user.email for user in vme.users">-->
                <!--<option value="">Users</option>-->
            <!--</select>-->
        <!--</div>-->
    <!--</div>-->

    <div class="form-group">
        <div class="">
            <button type="submit" class="btn btn-default">Submit</button>
            <button type="reset" class="btn btn-warning">Reset</button>
        </div>
    </div>

</form>

<div class="form-group" style="margin: 10px;">
    <div class="">
        <button ng-click="vm.deleteUser()" class="btn btn-danger">Delete</button>
    </div>
</div>

