<form action="" ng-submit="vm.sendAddForm($event, vma.user, vma.addUserFormCb)"><!--  class="form-horizontal" -->

    <!-- Email -->
    <div class="form-group">
        <label for="email" class="control-label">Email</label>

        <div class="">
            <input type="text" class="form-control" ng-model="vma.user.email" id="email"
                   placeholder="Email">
        </div>
    </div>

    <!-- Password -->
    <div class="form-group">
        <label for="password" class="control-label">Password</label>

        <div class="">
            <input type="password" class="form-control" ng-model="vma.user.password" id="password"
                   placeholder="Password">
        </div>
    </div>

    <!-- Retyped password -->
    <div class="form-group">
        <label for="password2" class="control-label">Retype password</label>

        <div class="">
            <input type="password" class="form-control" ng-model="vma.user.password2" id="password2"
                   placeholder="Retype password">
        </div>
    </div>

    <!-- Has conference equipment -->
    <div class="checkbox">
        <label for="isAdmin">
        <input type="checkbox" ng-model="vma.user.admin" id="isAdmin">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Is admin?
        </label>
    </div>

    <div class="form-group">
        <div class="">
            <button type="submit" class="btn btn-default">Submit</button>
            <button type="reset" class="btn btn-warning">Reset</button>
        </div>
    </div>

</form>

