<table class="table table-striped table-condensed">
    <thead>
    <tr>
        <th>No</th>
        <th>Email</th>
        <th>Is admin</th>
        <th>Created/Updated on</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="user in vml.users">
        <td>
            {{$index +1}}
        </td>
        <td>
            <a ui-sref="users.details({id : user.id})">{{user.email}}</a>
        </td>
        <td>{{user.admin}}</td>
        <td>{{user.createdUpdatedOn | date}}</td>
        <td>
            <button class="btn btn-danger" ng-click="vm.deleteUser(user.id)">Delete</button>
        </td>
    </tr>
    </tbody>
</table>
