<form action="#" ng-submit="vm.sendEditForm($event, vme.meeting)" class="form-horizontal">

    <!-- Description -->
    <div class="form-group">
        <label for="description" class="col-sm-2 control-label">Description</label>

        <div class="col-sm-10">
            <input type="text" class="form-control" ng-model="vme.meeting.description" id="description"
                   placeholder="Description">
        </div>
    </div>

    <!-- Who -->
    <div class="form-group">
        <label for="who" class="col-sm-2 control-label">Who</label>

        <div class="col-sm-10">
            <select name="who" id="who" ng-model="vme.meeting.who"
                    ng-options="user.email as user.email for user in vme.users">
                <option value="">User</option>
            </select>
        </div>
    </div>

    <!-- When(date, start time, end time) -->
    <div class="form-group">
        <label for="when" class="col-sm-2 control-label">When(date, start time, end time)</label>

        <div class="col-sm-10">
            <input type="date" class="form-control" ng-model="vme.meeting.whenDate" id="when" placeholder="When(day)"><br/>
            <input type="time" class="form-control" ng-model="vme.meeting.whenStartTime" id="when2" placeholder="When(starting time)"><br/>
            <input type="time" class="form-control" ng-model="vme.meeting.whenEndTime" id="when3" placeholder="When(ending time)">
        </div>
    </div>

    <!-- Where -->
    <div class="form-group">
        <label for="where" class="col-sm-2 control-label">Where</label>

        <div class="col-sm-10">
            <select name="where" id="where" ng-model="vme.meeting.where"
                    ng-options="room.name as room.name for room in vme.rooms">
                <option value="">Room</option>
            </select>
        </div>
    </div>

    <!-- Allowed to edit -->
    <div class="form-group">
        <label for="allowed" class="col-sm-2 control-label">Allowed to edit</label>

        <div class="col-sm-10">
            <select name="allowed" id="allowed" ng-model="vme.meeting.editors" multiple
                    ng-options="user.email as user.email for user in vme.users">
                <option value="">Users</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Submit</button>
            <button type="reset" class="btn btn-warning">Reset</button>
        </div>
    </div>

</form>
