<table class="table table-striped table-condensed">
    <thead>
    <tr>
        <th>No</th>
        <th>Description</th>
        <th>Who</th>
        <th>When</th>
        <th>Duration</th>
        <th>Where</th>
        <th>Allowed</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="meeting in vm.meetings" ng-class="{warning: meeting.canEdit, success: meeting.isCreator}">
        <td>
            {{$index +1}}
        </td>
        <td>
            <a ui-sref="meetings.details({id : meeting.id})">{{meeting.description}}</a>
        </td>
        <td>{{meeting.who}}</td>
        <td>{{meeting.when}}</td>
        <td>{{meeting.duration}}</td>
        <td>{{meeting.where}}</td>
        <td ng-bind-html="meeting.allowed"></td>
        <td>
            <button class="btn btn-danger" ng-click="vm.deleteMeeting(meeting.id)">Delete</button>
        </td>
    </tr>
    </tbody>
</table>
